---
layout: default
title: Update GitLab
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - update.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Update GitLab
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %h2.block-title Introduction
          %p.text-center
            Update your GitLab installation to take advantage of the latest features. Versions of GitLab which include new functionality are <a href="https://about.gitlab.com/blog/categories/release/">released every month on the 22<sup>nd</sup></a>, with patch releases as needed.

      .method.omnibus
        - distros = ['Ubuntu', 'Debian', 'CentOS 6', 'CentOS 7', 'OpenSUSE 42.2 and 42.3', 'Raspberry Pi 2']
        - platforms = ['ubuntu', 'debian', 'centos6', 'centos7', 'opensuse', 'raspberrypi2']
        - ce_only_platforms = { 'raspberry-pi-2' => true }
        - subtitles = ['14.04 LTS, 16.04 LTS', '7, 8, 9', 'and RHEL, Oracle, Scientific', 'and RHEL, Oracle, Scientific', 'and SUSE Linux Enterprise Server', 'Raspbian Wheezy, Jessie']
        - icons = ['ubuntu', 'debian', 'centos', 'centos', 'opensuse', 'raspberry-pi']
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus based installations
          %ul.flex-tile-list
            - distros.each_with_index do |distro, index|
              - ce_platform = data.platforms_update.select {|p| p.name == platforms[index]}
              - ee_platform = data.platforms_update_ee.select {|p| p.name == platforms[index]}
              %li.distro-tile{ class: "distro-tile-#{index + 1} #{'js-distro-tile-ce-only' if ce_only_platforms[distro.parameterize]}" }
                %a.js-distro-tile{ href: "##{distro.parameterize}" }
                  .tile-image
                    = partial "/images/logos/#{icons[index]}-logo.svg"
                  %span.tile-title
                    = distro
                  %br
                  %span.light
                    = subtitles[index]
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.parameterize }
                - ce_platform.each_with_index do |platform, index|
                  - ee_platform = ee_platform[index]
                  .js-platform-ce.js-install-instructions
                    = partial "_platform", locals: { platform: platform, type: "ce", toggle_type: "ee", has_ee: ee_platform }
                  - if ee_platform
                    .js-platform-ee.js-install-instructions.hidden
                      = partial "_platform", locals: { platform: ee_platform, type: "ee", toggle_type: "ce", has_ee: ee_platform }

      .method.official
        .method-content
          %h2.block-title Other official installation methods
          %ul.flex-tile-list
            - data.update_methods.official.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc
